.wrapper {
  position: relative;
  max-width: var(--outer-content-width);
  margin: 0 auto;
  padding: 0px var(--viewport-padding) 64px;
  z-index: 2;
}

.page {
  position: relative;
  max-width: var(--outer-content-width);
  margin: 0 auto;
  padding: 32px var(--viewport-padding) 32px;
  background: var(--color-page-background);
  box-shadow: var(--shadow-page);
}

@media (min-width: 80rem) {
  .page {
    border: 1px solid var(--color-page-border);

    border-radius: 8px;
  }
}
